@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2f303a;
  font-family: Poppins, sans-serif;
  color: white;
  min-height: 100vh;
  font-size: 1.2rem;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  flex-wrap: wrap;
}

.contact-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.contact-list a {
  color: white;
}
.visit-counter {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.description {
  margin: 0;
  padding: 0;
}

.section-heading {
  font-size: 1.8rem;
  margin: 10px 0;
  padding: 0;
}

.resume-section {
  padding: 0;
  margin: 5px 0;
}
.position-info {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
.accomplishments {
  margin: 10px 0;
  padding: 0;
}

.section-heading .skills {
  margin: 0;
  padding: 0;
}
